@font-face {
    font-family: Badaboom;
    src: url(fonts/Badabb.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter bold';
    src: url(fonts/Inter-Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter bold';
}

body{
    background-color: #c7c7c7;
    background-image: url(img/BackgroundTexture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    grid-column: 1 / 10;
}

.boardContainerGrid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;
}

.machResult{
    font-size: 90pt;
    font-family: Badaboom;
    color: black;
}


#p1, #p2, #tie{
    visibility: hidden;
}


.turnMessage{
    background-color: #FBF8BD;
    border: solid black 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 40px;
    color: #553535;
    min-width: 150px;
}

.turnText{
    font-size: 15pt;
}

.turnPlayerName{
    font-size: 30pt;
}

/*BOARD CSS---------------------------------------------------------------------------*/

.board{
    background-color: black;
    width: 100%;
    height: 100%;
    border: solid black 5px;
    grid-column: 4 / 7;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    transition: 1s;
}

.startBtn{
    background-color: #FFF500;
    grid-column: 7 / 8;
    grid-row: 5 / 6;
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    border: solid black 5px ;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.startBtn:hover{
    scale: 1.1;
}

.startBtnText{
    font-size: 25pt;
    font-weight: 800;
    
}

#restartP1{
    font-size: 20pt;
    margin: 0px;
    grid-column: 6;
    grid-row: 4;
}

.pt20{
    font-size: 20pt;
}

.restartWin{
    margin: 10px 0 0 0;
    border-radius: 0px;
    width: auto;
    height: auto;
    padding: 10px;
}

.imgBoard{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }


/*WINNER MESSAGE CSS---------------------------------------------------------------------------*/

.winnerContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 400px;
    flex-direction: column;


}

#player1{
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: none;
}

#player2{
    grid-column: 6 / 9;
    grid-row: 2 / 5;
    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: none;
}

.winnerText{
    color: white;
    font-size: 30pt;
}


/* MODAL CSS----------------------------------------------------------------------------------------*/
.darkScreen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
}

.modalContainer{
    background-color: white;
    width: 80%;
    height: 90%;
    margin: 10px auto 0px auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: solid black 5px;
    box-sizing: border-box;
}

.modalSide{
    width: 50%;
    height: 100%;
    position: relative;
    border: solid black 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/BackgroundTexture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p1Side{
   background-color: blue;
}

#p2Side{
    background-color: red;
}

#form{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#submitButton{
    z-index: 1;
    margin-top: -200px;
    background-color: #FFF500;
    border: solid black 5px;
    width: 200px;
    height: 80px;
    font-size: 15pt;
    font-family: 'Inter bold';
    cursor: pointer;
}

#submitButton:hover{
    scale: 1.1;
}

.messageContainer{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.nameMessage{
    display: block;
    z-index: 1;
    background-color: white;
    border: solid black 5px;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin-top: 100px;
}

/*Input CSS*/

.inputText{
    width: 300px;
    height: 50px;
    border: solid black 3px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 20px;
}

.labelForm{
    font-size: 65pt;
}

/* ANIMATIONS----------------------------------------------
 *
 * Generated by Animista on 2022-10-3 20:44:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
    100% {
      -webkit-transform: translateX(00px);
              transform: translateX(00px);
    }
  }


  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(00px);
              transform: translateX(00px);
    }
  }

  @keyframes slide-leftBoard {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
  }

  @keyframes slide-rightBoard {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
  }
